# Server
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@homecraftservices.lhvl8sz.mongodb.net/homecraft

# Frontend (CORS)
CLIENT_URL=http://localhost:3000

# JWT
JWT_SECRET=n7nkQpNkW8b90lnI6TwXpEW68sOPddt23cz4r0DimED
JWT_EXPIRES_IN=7d

# Cashfree
CASHFREE_APP_ID=YOUR_CASHFREE_APP_ID
CASHFREE_SECRET_KEY=YOUR_CASHFREE_SECRET_KEY
CASHFREE_ENV=PRODUCTION

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkiwspjmd
CLOUDINARY_API_KEY=417978132883969
CLOUDINARY_API_SECRET=mQDcHryqZ32ZTYeElVE_NjPFhcw
CLOUDINARY_UPLOAD_PRESET=homecraft-website
